/* Filename: listenertest.css
 * Timestamp: 2013.12.09-22:08:59 (last modified)  
 * Author(s): Bumblehead (www.bumblehead.com)  
 */

.bttn {
    display:inline-block;
    background-color:blue;
    color:#fff;
    border:1px solid red;
}

.bttn:hover {
    background-color:red;    
}

.bttn-label {
    display:inline-block;
    margin:20px 10px;
}